.notice-radio{

}
.notice-radio div{
  float: left;
}
.radioo{
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 5px;
}
.radioo:before{
  content: '';
  left: -25px;
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #e4e4e4;
  background: #fff;
  transition: background 0.25s ease-in-out;
}
.checked:before{
  background: #75ACFF;
  border: 1px solid #75ACFF;
}
.radioo-input{
  display: inline-block;
}
.radioo-input .lg-input{
  height: 30px;
  width: 350px;
  font-size: 13px;
}
.radioo-input .lg-input::-webkit-input-placeholder{
  color:#999;
}
.amount .lg-input{
  width: 140px;
  margin-left: 10px;
}

