.App {
  text-align: center;
}

.wrap {
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.body {
  position: absolute;
  top: 50px;
  left: 0px;
  right: 2px;
  min-width: 800px;
  background: #f5f5f5;
  border-bottom: 1px solid #eaeaea;
  overflow: auto;
  transition: all 0.2 ease;
  border-top: 1px solid #e4e4e4;
  bottom: 0;
  padding: 20px;
}

.editor-wrap {
  position: absolute;
  top: 50%;
  border-bottom: 1px solid #e4e4e4;
  background: #fff;
  padding: 40px;
  width: 968px;
  height: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.editor-wrap .BraftEditor-container {
  position: relative;
  height: auto;
  padding: 0;
  overflow: hidden;
  /* border: 1px solid #e4e4e4; */
}

.body-showFiles {
  left: 170px;
}

.App-intro {
  font-size: large;
}

.expand-left {
  position: absolute;
  left: -3px;
  top: 50%;
  transform: translate(0, -50%);
  background: #d8d8d8;
  border-radius: 4px;
  height: 44px;
  width: 21px;
  z-index: 1000;
  cursor: pointer;
}

.expand-left:before {
  position: absolute;
  content: '';
  left: 50%;
  top: 40%;
  transform: rotate(-45deg) translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.expand-right {
  left: 150px;
}

.expand-right:before {
  position: absolute;
  content: '';
  left: 10%;
  top: 40%;
  transform: rotate(135deg) translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.login {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: url('./images/lgbg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #6ca6f4;
}

.login-box {
  position: absolute;
  padding: 30px;
  top: 50%;
  right: 100px;
  transform: translate(0, -50%);
  background: #fff;
  opacity: 0.97;
  border-radius: 4px;
}

.login-box h1 {
  font-size: 25px;
  margin-bottom: 70px;
  margin-top: 20px;
}

.lg-row {
  width: 415px;
  padding: 15px 0;
}

.lg-row p {
  font-size: 14px;
  line-height: 22px;
  height: 22px;
  color: #999;
}

.lg-input {
  height: 40px;
  font-size: 16px;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  text-indent: 10px;
  width: 100%;
  background: #f5f5f5;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
}

.lg-input:focus {
  border: 1px solid #4a90e2;
  background: #fff;
}

.textarea {}

.lg-row .button {
  width: 100%;
  height: 40px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  background-color: #75ACFF;
  cursor: pointer;
}

.lg-row .btn2 {
  background-color: #70D9BF;
}

.lg-btn:hover {
  background-color: #4079b9;
}

.hd {
  color: #fff;
  font-size: 12px;
}

.add-info {
  text-align: right;
  padding-right: 30px;
}

.pop-up-mask {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, .5);
  display: none;
  z-index: 1000;
}

.pop-up {
  padding: 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background: #fff;
}

.show {
  display: block;
}

.pop-up-op {
  overflow: hidden;
  text-align: right;
  margin-top: 30px;
}

.op-col {
  width: 100px;
  display: inline-block;
  margin-left: 10px;
}

.logo {
  position: absolute;
  top: 35px;
  left: 80px;
  cursor: pointer;
}

.logo-ico {
  background: url("./images/logo.png");
  background-size: contain;
  width: 130px;
  height: 50px;
  background-repeat: no-repeat;
}

.address-qrcode{
  /* position: fixed;
  bottom: 0;
  right: 0px;
  z-index: 100; */
  text-align: center;
  font-size: 14px;
  color: #999;
}
.address-qrcode img{
  width: 250px;
  height: 250px;
}
.address-qrcode p{
  padding: 15px;
}

input::-webkit-input-placeholder {
  color: #e4e4e4;
  font-size: 12px;
}

ul li {
  list-style-type: none;
}

.editor-op {
  position: absolute;
  right: 50px;
  padding-top: 20px;
  bottom: 15px;
}

.editor-op div {
  /* margin-top: 20px;
  margin-right: 20px; */
}

.btn {
  width: 90px;
  height: 30px;
  float: left;
  line-height: 30px;
  color: #fff;
  text-align: center;
  font-size: 13px;
  background: #75ACFF;
  cursor: pointer;
  border: none;
}

.btn:hover{
  background: #4a90e2;
  color: #fff;
}

.btn-cancel {
  background: #fff;
  border: 1px solid #d9d9d9;
  color: rgba(0, 0, 0, 0.65);
}

.editor-op .save {
  background: #70D9BF 100%;
}
.editor-op .publish{
  
}

.editor-input{
  border: none;
  background: #fff;
  font-size: 20px;
}
.editor-input:focus {
  border: none;
}
input.editor-input::-webkit-input-placeholder{
  font-size: 20px;
}
.editor-input::-webkit-input-placeholder{
  font-size: 20px;
  color: #e4e4e4;
}
.close-editor{
  position: absolute;
  right: -30px;
  top: -7px;
  width:30px;
  height: 30px;
  transform: rotate(45deg);
  cursor: pointer;
}
.close-editor:before{
  content: '';
  position: absolute;
  background: #fff;
  width: 20px;
  height: 1px;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.close-editor:after{
  content: '';
  position: absolute;
  background: #fff;
  height: 20px;
  width: 1px;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.confirm{
  position: absolute;
  top: -100px;
  right: 0;
  width: 180px;
  padding: 15px;
  z-index: 10;
  background: #f5f5f5;
  border: 1px solid #e4e4e4;
}
.confirm .editor-input{
  border-bottom: 1px solid #e4e4e4;
}

.confirm-op{
  overflow: hidden;
  margin-top: 15px;
}
.confirm-op .btn{
  width: 60px;
  margin-left: 20px;
}

.headings-dropdown .menu .menu-item{
  text-align: center !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}